@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 5px solid #f5f1e9;
  border-top: 5px solid #fb9d03;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #fb9d03;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e67e22;
}

html {
  scroll-behavior: smooth;
}
